body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #d9f7fc;
}

.wrapper{
    display: flex;
    position: relative;
}

.wrapper .main_content{
    width: 100%;
    margin-left: 180px;
}

.wrapper .main_content{
    padding: 20px;
}

.wrapper .sidebar{
    position: fixed;
    width: 180px;
    height: 100%;
    background: #837dea;
}

.wrapper .sidebar h2{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    color: #fff;

}

.wrapper .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.wrapper .sidebar ul li a{
    color: #fff;
    display: block;
    text-decoration: none;
    transition: margin-left 0.3s;
}

.wrapper .sidebar ul li{
    padding: 20px;
    color: #fff;
}
.wrapper .sidebar ul li:hover{
    background: #9f9af0;
}
.wrapper .sidebar ul li:hover a{
    color: #21404d;
    margin-left: 10px;
}

