<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEBAPP - Dashboard</title>
    <link rel="stylesheet" href="../static/dashboardstyle.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://kit.fontawesome.com/1d109bfe17.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <h2>SCANNER</h2>
            <ul>
                <li><a href="{{ url_for('index') }}"><i class="fas fa-chart-bar"></i> Dashboard</a></li>
                <li><a href="{{ url_for('scan') }}"><i class="fas fa-search"></i> Scan</a></li>
                <li><a href="{{ url_for('history') }}"><i class="fas fa-history"></i> History</a></li>
            </ul>
        </div>
        <div class="main_content">
            <h2>Dashboard page</h2>
            <p>Hi Bulent. Here is total scans and vulnerability breakdown chart.</p>
            <div class="charts">
                <div class="chart1">
                    <p>Total risks:</p>
                    <canvas id="pieChart"></canvas>
                </div>
                <div class="chart2">
                    <p>Weekly scans:</p>
                    <canvas id="columnChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/script.js"></script>
</body>
</html>
